
.card-img-top {
position: relative;
}

.list-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin : 50px 50px;
}

.card {
  width : 350px;
  margin : 40px;
  text-align: center;
}

.card-body{
  margin-top: 50px;
}


.btn-primary {
  background-color: #4BAED4;
  border-color: transparent;
}

.img-user {
  width: 70px;
  position: absolute;
  top: 50px;
  align-self: center;
}

.mail {
  color: #6BA0EA;
}

.card-text {
  color: #979797;
}

.list-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin : 50px 50px;
}

.comment-img {
  width : 50px;
  align-self: right;
}

.btn-light {
  margin : 40px 0 0 20px;
}

.comments, .comment{
  width : 80%;
}

.card .comments{
  margin : 0;
  padding: 0;
}